.Results {
  .Results__content {
    margin-top: 48px;
  }

  .Results__image {
    width: 95%
  }
  
  .Results__score {
    color: white;
    text-align: center;
    font-size: 96px;
  }
  
  .Results__info {
    color: white;
    padding: 0 24px;
  }

  .Results__finish {
    display: block;
    margin: 0 auto;
    margin-top: 32px;
  }
}