.Session__spinnerWrapper {
  padding-top: 32px;

  .Session__spinner {
    display: block;
    margin: 0 auto;
    margin-bottom: 48px;
  }
}

.Session__posenetModal {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 0;
  width: 256px;
  height: 192px;
}

.Session__count {
  text-align: center;
  font-size: 96px;
  padding-top: 32px;
  padding-bottom: 48px;
}

.Session__posenetMain {
  width: 256px
}