.Session__spinnerWrapper {
  padding-top: 32px;

  .Session__spinner {
    display: block;
    margin: 0 auto;
  }
}

.Session__posenet {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 0;
  width: 256px;
  height: 192px;
}