.Session {
  min-height: 100vh;
}

.Session__spinnerWrapper {
  padding-top: 32px;

  .Session__spinner {
    display: block;
    margin: 0 auto;
    margin-bottom: 48px;
  }
}

.Session__posenetModal {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 0;
  width: 256px;
  height: 192px;
  // transform: scale(-1, 1);
  // filter: FlipH;
}

.Session__count {
  text-align: center;
  font-size: 96px;
  padding-top: 32px;
  padding-bottom: 48px;
}

.Session__posenetMain {
  display: block;
  height: 360px;
  width: 432px;
  margin: auto 8px;
  // transform: scale(-1, 1);
  // filter: FlipH;
}

.Session__youtube {
  pointer-events: none;
  display: block;
  width: 584px;
  margin: auto 8px;
}

.Session__view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
}

.Session__header {
  display: flex;
  flex-direction: row;
  color: white;
}


.Session__scoreWrapper {
  color: white;
  text-align: center;
  width: 164px;
  margin: 0 auto;
  margin-bottom: 16px;
  padding-top: 64px;
}

.Session__score {
  color: white;
  display: block;
  text-align: center;
  font-size: 52px;
  background-color: #D36B6B;
  padding-top: 0;
  border-radius: 20px;
}

.Session__button {
  display: block !important;
  margin: 0 auto !important;
  margin-top: 2% !important;
}

.Session__accuracy {
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.Session__poseHint {
  color: white;
  text-align: center;
  padding-top: 24px;
}